*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(248, 70%, 10%);
    color:white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
   

}

.text-container h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;

}

.heading{
    padding-left: 6rem;
}

.text-container p{
    color: hsl(245, 15%, 58%);
    word-spacing: 5px;
    margin-top: 1rem;
    font-size: 1.2rem;

}

section{
    min-height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    
    width: 400px;
}

.form{
   
    width: 100%;
}

 .form h3{
    margin-bottom: 15px;
}

.upload-box {
  border: 2px dashed rgba(255,255,255,0.4);
  border-radius: 12px;
  padding: 35px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  background: rgba(255,255,255,0.05);
}

.upload-box:hover {
  background: rgba(255,255,255,0.1);
}

.upload-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

small {
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.05);
  color: white;
  outline: none;
}

.input-group input::placeholder {
  color: rgba(255,255,255,0.6);
}

.btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #f6725f;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}

@media (max-width: 480px) {
  body {
    padding: 15px;
  }

  .upload-box {
    padding: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .input-group input {
    padding: 10px;
    font-size: 13px;
  }

  .btn {
    padding: 12px;
    font-size: 14px;
  }
}